<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.g2_stockprediction">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="StockUp"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".TopStockOfTheDay"
            android:label="@string/title_activity_top_stock_of_the_day"
            android:theme="@style/NoActionBar"></activity>
        <activity android:name=".StockOfTheDay" />
        <activity android:name=".GraphStock" />
        <activity android:name=".LogInPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage" />
        <activity android:name=".SignUpPage" />
        <activity android:name=".StockPage" />
        <activity android:name=".SavedStockPage" />
        <activity
            android:name=".HomePageNav"
            android:label="@string/title_activity_home_page_nav"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>